In [1]:
import pandas as pd

In [26]:
def read_file(instrument, n=61):
    """ Pro """
    import pandas as pd
    path = f"/Users/joeybesseling/Documents/Programmeren/Projects/Data/{instrument}/{instrument}_1_20({n}).parquet"
    return pd.read_parquet(path)

import numpy as np
tot = 0
for i in range(0, 100):
    try:
        df = read_file("BTC-PERPETUAL", i)
        tot += df.shape[0]
        timestamps = pd.to_datetime(df.timestamp)
        steps = timestamps - timestamps.shift(1)
        print(np.min(steps), np.max(steps), np.mean(steps))
        # print(f"{str(df.timestamp[0])}-{str(df.timestamp[len(df)-1])}")
    except Exception as e:
        # print(e)
        pass
print(f"{round(tot / 3600 / 24)} dagen")

0 days 00:00:01.000027648 0 days 00:00:36.687299584 0 days 00:00:01.013913866
0 days 00:00:01.000009472 0 days 00:00:17.977245952 0 days 00:00:01.009178588
0 days 00:00:01.000016896 0 days 00:00:31.912078592 0 days 00:00:01.007555757
0 days 00:00:01.000015616 0 days 00:01:06.334190080 0 days 00:00:01.008302615
0 days 00:00:01.000022528 0 days 00:00:10.104732160 0 days 00:00:01.008045841
0 days 00:00:01.000010496 0 days 00:00:10.448981760 0 days 00:00:01.008203937
0 days 00:00:01.000011776 0 days 00:00:32.420875520 0 days 00:00:01.009113230
0 days 00:00:01.000012544 0 days 00:00:16.490661376 0 days 00:00:01.006494102
0 days 00:00:01.000012288 0 days 00:00:02.123486208 0 days 00:00:01.006295366
0 days 00:00:01.000022784 0 days 00:00:02.886651136 0 days 00:00:01.006343662
0 days 00:00:01.000019712 0 days 00:00:02.754043136 0 days 00:00:01.006424311
0 days 00:00:01.000002048 0 days 00:00:04.332727552 0 days 00:00:01.007858864
0 days 00:00:01.000003584 0 days 00:00:02.659731200 0 days 00:00:01.007916104
0 days 00:00:01.000040704 0 days 00:00:02.679187200 0 days 00:00:01.007765259
0 days 00:00:01.000023040 0 days 00:00:03.144995584 0 days 00:00:01.007937589
0 days 00:00:01.000008704 0 days 00:00:02.599142400 0 days 00:00:01.007643602
0 days 00:00:01.000008192 0 days 00:00:08.342977536 0 days 00:00:01.007787951
-1 days +23:59:59 0 days 00:00:03 0 days 00:00:01.005465495
0 days 00:00:01 0 days 00:00:08 0 days 00:00:01.005628517
0 days 00:00:00 0 days 00:00:07 0 days 00:00:01.009320037
-1 days +23:59:59 0 days 00:00:03 0 days 00:00:01.007167121
0 days 00:00:01 0 days 00:00:03 0 days 00:00:01.005212020
0 days 00:00:01 0 days 00:00:05 0 days 00:00:01.005516022
0 days 00:00:01 0 days 00:00:06 0 days 00:00:01.004642096
-1 days +23:59:59 0 days 00:00:04 0 days 00:00:01.004532018
-1 days +23:59:59 0 days 00:00:05 0 days 00:00:01.007832029
-1 days +23:59:59 0 days 00:00:08 0 days 00:00:01.008003020
0 days 00:00:01 0 days 00:00:04 0 days 00:00:01.004760291
-1 days +23:59:58 0 days 00:00:04 0 days 00:00:01.005964427
-1 days +23:59:59 0 days 00:00:03 0 days 00:00:01.005316021
0 days 00:00:01 0 days 00:00:03 0 days 00:00:01.007214718
0 days 00:00:01 0 days 00:00:02 0 days 00:00:01.008179896
0 days 00:00:01 0 days 00:00:05 0 days 00:00:01.009604038
-1 days +23:59:56 0 days 00:00:05 0 days 00:00:01.009008036
0 days 00:00:01 0 days 00:00:02 0 days 00:00:01.009884432
74 dagen

In [14]:
mid = df.bid1_price + df.ask1_price

In [27]:
# tick = yf.Ticker("MSFT")
# hist = tick.history(period = "max", interval = "1d")

tick = yf.Ticker("AEX")
hist = tick.history(period = "max", interval = "1d")

NameError: name 'yf' is not defined

In [28]:
df

,timestamp,bid1_price,bid1_size,ask1_price,ask1_size,bid2_price,bid2_size,ask2_price,ask2_size,bid3_price,...,bid20_price,bid20_size,ask20_price,ask20_size,trade_num,trade_vol,trade_num_buy,trade_vol_buy,trade_num_sell,trade_vol_sell
0,2022-08-29 02:36:23,19751.5,1580.0,19752.0,273800.0,19748.5,45690.0,19753.5,1250.0,19748.0,...,19738.0,33780.0,19763.5,24000.0,1,120.0,1,120.0,0,0.0
1,2022-08-29 02:36:24,19751.5,1580.0,19752.0,273510.0,19748.5,15000.0,19753.5,23680.0,19748.0,...,19737.5,21910.0,19763.0,54740.0,0,0.0,0,0.0,0,0.0
2,2022-08-29 02:36:25,19751.5,1580.0,19752.0,273510.0,19748.5,15000.0,19753.5,750.0,19748.0,...,19738.0,33780.0,19763.0,54740.0,0,0.0,0,0.0,0,0.0
3,2022-08-29 02:36:26,19751.5,1580.0,19752.0,273510.0,19748.5,15000.0,19753.5,750.0,19748.0,...,19738.0,33780.0,19765.0,1630.0,0,0.0,0,0.0,0,0.0
4,2022-08-29 02:36:27,19751.5,1580.0,19752.0,258010.0,19748.5,15000.0,19753.5,750.0,19748.0,...,19739.0,59740.0,19765.0,1630.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33483,2022-08-29 11:59:57,19825.0,5630.0,19825.5,120550.0,19823.0,740.0,19826.0,3510.0,19821.5,...,19811.0,60070.0,19837.0,44700.0,0,0.0,0,0.0,0,0.0
33484,2022-08-29 11:59:58,19825.0,5630.0,19825.5,136050.0,19823.0,740.0,19826.0,3010.0,19821.5,...,19811.0,60070.0,19837.0,44700.0,0,0.0,0,0.0,0,0.0
33485,2022-08-29 11:59:59,19825.0,5630.0,19825.5,25000.0,19823.0,740.0,19826.0,3010.0,19822.5,...,19812.0,5820.0,19837.0,44700.0,0,0.0,0,0.0,0,0.0
33486,2022-08-29 12:00:00,19825.0,5610.0,19825.5,184040.0,19821.5,31450.0,19826.0,58090.0,19820.0,...,19810.0,14820.0,19836.5,166570.0,1,20.0,0,0.0,1,20.0
33487,2022-08-29 12:00:01,19825.0,10.0,19825.5,301980.0,19821.5,31450.0,19826.0,42650.0,19817.5,...,19808.5,16880.0,19836.0,4840.0,0,0.0,0,0.0,0,0.0